@model HJR.FinanceControl.WebApp.ViewModels.ContaAReceberViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>